<style>
	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	};
</style>

<div class="container">
	<div class="jumbotron bg-warning text-center">
		<h1 class="text-secondary"><i class="fas fa-bars"></i> Eat Da Burger!</h1>
	</div>
</div>

<div class="col-lg-6 float-left">
{{#each data}}
	{{#unless this.devoured}}
		<div class="text-center">
			<p>{{this.id}}. {{this.burger_name}}</p>
			<form method="POST" action="/burgers/update?_method=PUT">
				<input type="hidden" name="burger_id" type="text" value={{this.id}}>
				<button type="submit" class="btn btn-success">Devour It!</button>
			</form>
		</div>
		<br>
	{{/unless}}
{{/each}}
</div>


<div class="col-lg-6 justify-content-center float-right text-center">
	{{#each data}}
		{{#if this.devoured}}
				<ul class="list-group">
					<li class="list-group-item">{{this.id}}. {{this.burger_name}}</li>
				</ul>
		{{/if}}
	{{/each}}
</div>

<br>
<br>
<br>

<div class="col-lg-12 clearfix row justify-content-center text-center">
	<form action="/burgers/create" method="POST">Enter a burger
		<input type="text" name="burger_name" class="form-control" value="">
		<br>
		<button type="submit" class="btn btn-primary" id="submit">Submit</button>
	</form>
</div>